@font-face {
    font-family: 'Iosevka Charon Mono';
    src: url('IosevkaCharonMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Charon Mono';
    src: url('IosevkaCharonMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Iosevka Charon Mono';
    src: url('IosevkaCharonMono-Light.woff2') format('woff2'),
        url('IosevkaCharonMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    padding: 0 10%;
    font-size: 16px;
    font-family: 'Isoveka Charon Mono',monospace;
}
.formBody
{
    background-color: rgb(245, 240, 240);
}
.main-container
{
    display :flex;
    flex-direction: row;
    justify-content: flex-start;
}
.image-section
{
    height: 100vh;
    width: 30vw;
    position:relative;
}
.image-section>img
{
    object-fit: fill;
    height: inherit;
    width: inherit;
}
.image-section .logo-background
{
    display: flex;
    position: absolute;
    width: 100%;
    top: 15%;
    background: rgba(0,0,0,85%);
    justify-content: center;
}
.logo-background>img
{
    height: 15%;
    width: 100px;
}
.formBody
{
    font-size: 1.1em;
    padding: 7% 5%;
}
.description
{
    margin-bottom:10%;
}.name,.contact-body
{
    
    display: flex;
    justify-content: space-between;
}
.name div,.contact-body div
{
    width: 40%;
}
.name label
{
    font-family: 'Isoveka Charon Mono',monospace;
    font-weight: 300;
}
.main-body
{
    background-color: white;
}
